.btn {
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.2rem;
  color: #fff;
  padding: 12px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-transform: capitalize;
}
.btn:hover {
  box-shadow: 0 0 8px #2084e5;
}
.default {
  background-color: #2084e5;
}
.offset {
  background: transparent;
  border: solid 2px #2084e5;
}
